 @import './base.css';

:root {
  --sds-g-spacing-1: var(--slds-g-spacing-1);
  --slds-g-spacing-1: 0.25rem;
  --sds-g-spacing-2: var(--slds-g-spacing-2);
  --slds-g-spacing-2: 0.5rem;
  --sds-g-spacing-3: var(--slds-g-spacing-3);
  --slds-g-spacing-3: 0.75rem;
  --sds-g-spacing-4: var(--slds-g-spacing-4);
  --slds-g-spacing-4: 1rem;
  --sds-g-spacing-5: var(--slds-g-spacing-5);
  --slds-g-spacing-5: 1.5rem;
  --sds-g-spacing-6: var(--slds-g-spacing-6);
  --slds-g-spacing-6: 2rem;
  --sds-g-spacing-7: var(--slds-g-spacing-7);
  --slds-g-spacing-7: 2.5rem;
  --sds-g-spacing-8: var(--slds-g-spacing-8);
  --slds-g-spacing-8: 3rem;
  --sds-g-spacing-9: var(--slds-g-spacing-9);
  --slds-g-spacing-9: 3.5rem;
  --sds-g-spacing-10: var(--slds-g-spacing-10);
  --slds-g-spacing-10: 4rem;
  --sds-g-spacing-11: var(--slds-g-spacing-11);
  --slds-g-spacing-11: 4.5rem;
  --sds-g-spacing-12: var(--slds-g-spacing-12);
  --slds-g-spacing-12: 5rem;
  --sds-g-sizing-border-1: var(--slds-g-sizing-border-1);
  --slds-g-sizing-border-1: 1px;
  --sds-g-sizing-border-2: var(--slds-g-sizing-border-2);
  --slds-g-sizing-border-2: 2px;
  --sds-g-sizing-border-3: var(--slds-g-sizing-border-3);
  --slds-g-sizing-border-3: 3px;
  --sds-g-sizing-border-4: var(--slds-g-sizing-border-4);
  --slds-g-sizing-border-4: 4px;
  --sds-g-sizing-1: var(--slds-g-sizing-1);
  --slds-g-sizing-1: 0.125rem;
  --sds-g-sizing-2: var(--slds-g-sizing-2);
  --slds-g-sizing-2: 0.25rem;
  --sds-g-sizing-3: var(--slds-g-sizing-3);
  --slds-g-sizing-3: 0.5rem;
  --sds-g-sizing-4: var(--slds-g-sizing-4);
  --slds-g-sizing-4: 0.75rem;
  --sds-g-sizing-5: var(--slds-g-sizing-5);
  --slds-g-sizing-5: 1rem;
  --sds-g-sizing-6: var(--slds-g-sizing-6);
  --slds-g-sizing-6: 1.25rem;
  --sds-g-sizing-7: var(--slds-g-sizing-7);
  --slds-g-sizing-7: 1.5rem;
  --sds-g-sizing-8: var(--slds-g-sizing-8);
  --slds-g-sizing-8: 1.75rem;
  --sds-g-sizing-9: var(--slds-g-sizing-9);
  --slds-g-sizing-9: 2rem;
  --sds-g-sizing-10: var(--slds-g-sizing-10);
  --slds-g-sizing-10: 3rem;
  --sds-g-sizing-11: var(--slds-g-sizing-11);
  --slds-g-sizing-11: 4rem;
  --sds-g-sizing-12: var(--slds-g-sizing-12);
  --slds-g-sizing-12: 5rem;
  --sds-g-sizing-13: var(--slds-g-sizing-13);
  --slds-g-sizing-13: 10rem;
  --sds-g-sizing-14: var(--slds-g-sizing-14);
  --slds-g-sizing-14: 15rem;
  --sds-g-sizing-15: var(--slds-g-sizing-15);
  --slds-g-sizing-15: 20rem;
  --sds-g-sizing-16: var(--slds-g-sizing-16);
  --slds-g-sizing-16: 30rem;
  --sds-g-sizing-content-1: var(--slds-g-sizing-content-1);
  --slds-g-sizing-content-1: 20ch;
  --sds-g-sizing-content-2: var(--slds-g-sizing-content-2);
  --slds-g-sizing-content-2: 45ch;
  --sds-g-sizing-content-3: var(--slds-g-sizing-content-3);
  --slds-g-sizing-content-3: 60ch;
  --sds-g-sizing-heading-1: var(--slds-g-sizing-heading-1);
  --slds-g-sizing-heading-1: 20ch;
  --sds-g-sizing-heading-2: var(--slds-g-sizing-heading-2);
  --slds-g-sizing-heading-2: 25ch;
  --sds-g-sizing-heading-3: var(--slds-g-sizing-heading-3);
  --slds-g-sizing-heading-3: 35ch;
  --sds-g-shadow-1: var(--slds-g-shadow-1);
  --slds-g-shadow-1: 0px 2px 2px 0px rgba(0,0,0,0.1);
  --sds-g-shadow-2: var(--slds-g-shadow-2);
  --slds-g-shadow-2: 0px 2px 3px 0px rgba(0,0,0,0.15);
  --sds-g-shadow-3: var(--slds-g-shadow-3);
  --slds-g-shadow-3: 0px -1px 3px 0px rgba(24,24,24,0.01),0 1px 2px -5px rgba(24,24,24,0.04),0 2px 5px -5px rgba(24,24,24,0.04),0 4px 12px -5px rgba(24,24,24,0.03),0 12px 15px -5px rgba(24,24,24,0.06);
  --sds-g-shadow-4: var(--slds-g-shadow-4);
  --slds-g-shadow-4: 0 -2px 5px 0 rgba(24,24,24,0.01),0 1px 1px -2px rgba(24,24,24,0.04),0 2px 2px -2px rgba(24,24,24,0.04),0 5px 5px -2px rgba(24,24,24,0.03),0 12px 15px -5px rgba(24,24,24,0.03),0 16px 16px -2px rgba(24,24,24,0.06);
  --sds-g-shadow-5: var(--slds-g-shadow-5);
  --slds-g-shadow-5: 0 -1px 2px 0 rgba(24,24,24,0.01),0 2px 1px -2px rgba(24,24,24,0.04),0 5px 5px -2px rgba(24,24,24,0.04),0 10px 10px -2px rgba(24,24,24,0.03),0 20px 20px -2px rgba(24,24,24,0.03),0 40px 40px -2px rgba(24,24,24,0.06);
  --sds-g-shadow-6: var(--slds-g-shadow-6);
  --slds-g-shadow-6: 0 -1px 2px 0 rgba(24,24,24,0.01),0 3px 2px -2px rgba(24,24,24,0.04),0 7px 5px -2px rgba(24,24,24,0.04),0 12px 10px -2px rgba(24,24,24,0.03),0 22px 18px -2px rgba(24,24,24,0.03),0 41px 33px -2px rgba(24,24,24,0.03),0 100px 80px -2px rgba(24,24,24,0.06);
  --sds-g-shadow-inverse-1: var(--slds-g-shadow-inverse-1);
  --slds-g-shadow-inverse-1: 0 0 3px #f3f3f3;
  --sds-g-ratio-square: var(--slds-g-ratio-square);
  --slds-g-ratio-square: 1;
  --sds-g-ratio-landscape: var(--slds-g-ratio-landscape);
  --slds-g-ratio-landscape: 4/3;
  --sds-g-ratio-portrait: var(--slds-g-ratio-portrait);
  --slds-g-ratio-portrait: 3/4;
  --sds-g-ratio-wide: var(--slds-g-ratio-wide);
  --slds-g-ratio-wide: 16/9;
  --sds-g-ratio-ultrawide: var(--slds-g-ratio-ultrawide);
  --slds-g-ratio-ultrawide: 18/5;
  --sds-g-radius-border-1: var(--slds-g-radius-border-1);
  --slds-g-radius-border-1: 0.125rem;
  --sds-g-radius-border-2: var(--slds-g-radius-border-2);
  --slds-g-radius-border-2: 0.25rem;
  --sds-g-radius-border-3: var(--slds-g-radius-border-3);
  --slds-g-radius-border-3: 0.5rem;
  --sds-g-radius-border-4: var(--slds-g-radius-border-4);
  --slds-g-radius-border-4: 1rem;
  --sds-g-radius-border-pill: var(--slds-g-radius-border-pill);
  --slds-g-radius-border-pill: 15rem;
  --sds-g-radius-border-circle: var(--slds-g-radius-border-circle);
  --slds-g-radius-border-circle: 100%;
  --sds-g-color-palette-blue-10: var(--slds-g-color-palette-blue-10);
  --slds-g-color-palette-blue-10: #001639;
  --sds-g-color-palette-blue-15: var(--slds-g-color-palette-blue-15);
  --slds-g-color-palette-blue-15: #03234d;
  --sds-g-color-palette-blue-20: var(--slds-g-color-palette-blue-20);
  --slds-g-color-palette-blue-20: #032d60;
  --sds-g-color-palette-blue-30: var(--slds-g-color-palette-blue-30);
  --slds-g-color-palette-blue-30: #014486;
  --sds-g-color-palette-blue-40: var(--slds-g-color-palette-blue-40);
  --slds-g-color-palette-blue-40: #0b5cab;
  --sds-g-color-palette-blue-50: var(--slds-g-color-palette-blue-50);
  --slds-g-color-palette-blue-50: #0176d3;
  --sds-g-color-palette-blue-60: var(--slds-g-color-palette-blue-60);
  --slds-g-color-palette-blue-60: #1b96ff;
  --sds-g-color-palette-blue-65: var(--slds-g-color-palette-blue-65);
  --slds-g-color-palette-blue-65: #57a3fd;
  --sds-g-color-palette-blue-70: var(--slds-g-color-palette-blue-70);
  --slds-g-color-palette-blue-70: #78b0fd;
  --sds-g-color-palette-blue-80: var(--slds-g-color-palette-blue-80);
  --slds-g-color-palette-blue-80: #aacbff;
  --sds-g-color-palette-blue-90: var(--slds-g-color-palette-blue-90);
  --slds-g-color-palette-blue-90: #d8e6fe;
  --sds-g-color-palette-blue-95: var(--slds-g-color-palette-blue-95);
  --slds-g-color-palette-blue-95: #eef4ff;
  --sds-g-color-palette-cloud-blue-10: var(--slds-g-color-palette-cloud-blue-10);
  --slds-g-color-palette-cloud-blue-10: #001a28;
  --sds-g-color-palette-cloud-blue-15: var(--slds-g-color-palette-cloud-blue-15);
  --slds-g-color-palette-cloud-blue-15: #0a2636;
  --sds-g-color-palette-cloud-blue-20: var(--slds-g-color-palette-cloud-blue-20);
  --slds-g-color-palette-cloud-blue-20: #023248;
  --sds-g-color-palette-cloud-blue-30: var(--slds-g-color-palette-cloud-blue-30);
  --slds-g-color-palette-cloud-blue-30: #084968;
  --sds-g-color-palette-cloud-blue-40: var(--slds-g-color-palette-cloud-blue-40);
  --slds-g-color-palette-cloud-blue-40: #05628a;
  --sds-g-color-palette-cloud-blue-50: var(--slds-g-color-palette-cloud-blue-50);
  --slds-g-color-palette-cloud-blue-50: #107cad;
  --sds-g-color-palette-cloud-blue-60: var(--slds-g-color-palette-cloud-blue-60);
  --slds-g-color-palette-cloud-blue-60: #0d9dda;
  --sds-g-color-palette-cloud-blue-65: var(--slds-g-color-palette-cloud-blue-65);
  --slds-g-color-palette-cloud-blue-65: #08abed;
  --sds-g-color-palette-cloud-blue-70: var(--slds-g-color-palette-cloud-blue-70);
  --slds-g-color-palette-cloud-blue-70: #1ab9ff;
  --sds-g-color-palette-cloud-blue-80: var(--slds-g-color-palette-cloud-blue-80);
  --slds-g-color-palette-cloud-blue-80: #90d0fe;
  --sds-g-color-palette-cloud-blue-90: var(--slds-g-color-palette-cloud-blue-90);
  --slds-g-color-palette-cloud-blue-90: #cfe9fe;
  --sds-g-color-palette-cloud-blue-95: var(--slds-g-color-palette-cloud-blue-95);
  --slds-g-color-palette-cloud-blue-95: #eaf5fe;
  --sds-g-color-palette-green-10: var(--slds-g-color-palette-green-10);
  --slds-g-color-palette-green-10: #071b12;
  --sds-g-color-palette-green-15: var(--slds-g-color-palette-green-15);
  --slds-g-color-palette-green-15: #0c2912;
  --sds-g-color-palette-green-20: var(--slds-g-color-palette-green-20);
  --slds-g-color-palette-green-20: #1c3326;
  --sds-g-color-palette-green-30: var(--slds-g-color-palette-green-30);
  --slds-g-color-palette-green-30: #194e31;
  --sds-g-color-palette-green-40: var(--slds-g-color-palette-green-40);
  --slds-g-color-palette-green-40: #396547;
  --sds-g-color-palette-green-50: var(--slds-g-color-palette-green-50);
  --slds-g-color-palette-green-50: #2e844a;
  --sds-g-color-palette-green-60: var(--slds-g-color-palette-green-60);
  --slds-g-color-palette-green-60: #3ba755;
  --sds-g-color-palette-green-65: var(--slds-g-color-palette-green-65);
  --slds-g-color-palette-green-65: #41b658;
  --sds-g-color-palette-green-70: var(--slds-g-color-palette-green-70);
  --slds-g-color-palette-green-70: #45c65a;
  --sds-g-color-palette-green-80: var(--slds-g-color-palette-green-80);
  --slds-g-color-palette-green-80: #91db8b;
  --sds-g-color-palette-green-90: var(--slds-g-color-palette-green-90);
  --slds-g-color-palette-green-90: #cdefc4;
  --sds-g-color-palette-green-95: var(--slds-g-color-palette-green-95);
  --slds-g-color-palette-green-95: #ebf7e6;
  --sds-g-color-palette-hot-orange-10: var(--slds-g-color-palette-hot-orange-10);
  --slds-g-color-palette-hot-orange-10: #281202;
  --sds-g-color-palette-hot-orange-15: var(--slds-g-color-palette-hot-orange-15);
  --slds-g-color-palette-hot-orange-15: #421604;
  --sds-g-color-palette-hot-orange-20: var(--slds-g-color-palette-hot-orange-20);
  --slds-g-color-palette-hot-orange-20: #4a2413;
  --sds-g-color-palette-hot-orange-30: var(--slds-g-color-palette-hot-orange-30);
  --slds-g-color-palette-hot-orange-30: #7e2600;
  --sds-g-color-palette-hot-orange-40: var(--slds-g-color-palette-hot-orange-40);
  --slds-g-color-palette-hot-orange-40: #aa3001;
  --sds-g-color-palette-hot-orange-50: var(--slds-g-color-palette-hot-orange-50);
  --slds-g-color-palette-hot-orange-50: #d83a00;
  --sds-g-color-palette-hot-orange-60: var(--slds-g-color-palette-hot-orange-60);
  --slds-g-color-palette-hot-orange-60: #ff5d2d;
  --sds-g-color-palette-hot-orange-65: var(--slds-g-color-palette-hot-orange-65);
  --slds-g-color-palette-hot-orange-65: #ff784f;
  --sds-g-color-palette-hot-orange-70: var(--slds-g-color-palette-hot-orange-70);
  --slds-g-color-palette-hot-orange-70: #ff906e;
  --sds-g-color-palette-hot-orange-80: var(--slds-g-color-palette-hot-orange-80);
  --slds-g-color-palette-hot-orange-80: #feb9a5;
  --sds-g-color-palette-hot-orange-90: var(--slds-g-color-palette-hot-orange-90);
  --slds-g-color-palette-hot-orange-90: #ffded5;
  --sds-g-color-palette-hot-orange-95: var(--slds-g-color-palette-hot-orange-95);
  --slds-g-color-palette-hot-orange-95: #fef1ed;
  --sds-g-color-palette-indigo-10: var(--slds-g-color-palette-indigo-10);
  --slds-g-color-palette-indigo-10: #200647;
  --sds-g-color-palette-indigo-15: var(--slds-g-color-palette-indigo-15);
  --slds-g-color-palette-indigo-15: #1f0974;
  --sds-g-color-palette-indigo-20: var(--slds-g-color-palette-indigo-20);
  --slds-g-color-palette-indigo-20: #321d71;
  --sds-g-color-palette-indigo-30: var(--slds-g-color-palette-indigo-30);
  --slds-g-color-palette-indigo-30: #2f2cb7;
  --sds-g-color-palette-indigo-40: var(--slds-g-color-palette-indigo-40);
  --slds-g-color-palette-indigo-40: #3a49da;
  --sds-g-color-palette-indigo-50: var(--slds-g-color-palette-indigo-50);
  --slds-g-color-palette-indigo-50: #5867e8;
  --sds-g-color-palette-indigo-60: var(--slds-g-color-palette-indigo-60);
  --slds-g-color-palette-indigo-60: #7f8ced;
  --sds-g-color-palette-indigo-65: var(--slds-g-color-palette-indigo-65);
  --slds-g-color-palette-indigo-65: #8e9bef;
  --sds-g-color-palette-indigo-70: var(--slds-g-color-palette-indigo-70);
  --slds-g-color-palette-indigo-70: #9ea9f1;
  --sds-g-color-palette-indigo-80: var(--slds-g-color-palette-indigo-80);
  --slds-g-color-palette-indigo-80: #bec7f6;
  --sds-g-color-palette-indigo-90: var(--slds-g-color-palette-indigo-90);
  --slds-g-color-palette-indigo-90: #e0e5f8;
  --sds-g-color-palette-indigo-95: var(--slds-g-color-palette-indigo-95);
  --slds-g-color-palette-indigo-95: #f1f3fb;
  --sds-g-color-palette-orange-10: var(--slds-g-color-palette-orange-10);
  --slds-g-color-palette-orange-10: #201600;
  --sds-g-color-palette-orange-15: var(--slds-g-color-palette-orange-15);
  --slds-g-color-palette-orange-15: #371e03;
  --sds-g-color-palette-orange-20: var(--slds-g-color-palette-orange-20);
  --slds-g-color-palette-orange-20: #3e2b02;
  --sds-g-color-palette-orange-30: var(--slds-g-color-palette-orange-30);
  --slds-g-color-palette-orange-30: #5f3e02;
  --sds-g-color-palette-orange-40: var(--slds-g-color-palette-orange-40);
  --slds-g-color-palette-orange-40: #825101;
  --sds-g-color-palette-orange-50: var(--slds-g-color-palette-orange-50);
  --slds-g-color-palette-orange-50: #a96404;
  --sds-g-color-palette-orange-60: var(--slds-g-color-palette-orange-60);
  --slds-g-color-palette-orange-60: #dd7a01;
  --sds-g-color-palette-orange-65: var(--slds-g-color-palette-orange-65);
  --slds-g-color-palette-orange-65: #f38303;
  --sds-g-color-palette-orange-70: var(--slds-g-color-palette-orange-70);
  --slds-g-color-palette-orange-70: #fe9339;
  --sds-g-color-palette-orange-80: var(--slds-g-color-palette-orange-80);
  --slds-g-color-palette-orange-80: #ffba90;
  --sds-g-color-palette-orange-90: var(--slds-g-color-palette-orange-90);
  --slds-g-color-palette-orange-90: #fedfd0;
  --sds-g-color-palette-orange-95: var(--slds-g-color-palette-orange-95);
  --slds-g-color-palette-orange-95: #fff1ea;
  --sds-g-color-palette-pink-10: var(--slds-g-color-palette-pink-10);
  --slds-g-color-palette-pink-10: #370114;
  --sds-g-color-palette-pink-15: var(--slds-g-color-palette-pink-15);
  --slds-g-color-palette-pink-15: #4b0620;
  --sds-g-color-palette-pink-20: var(--slds-g-color-palette-pink-20);
  --slds-g-color-palette-pink-20: #61022a;
  --sds-g-color-palette-pink-30: var(--slds-g-color-palette-pink-30);
  --slds-g-color-palette-pink-30: #8a033e;
  --sds-g-color-palette-pink-40: var(--slds-g-color-palette-pink-40);
  --slds-g-color-palette-pink-40: #b60554;
  --sds-g-color-palette-pink-50: var(--slds-g-color-palette-pink-50);
  --slds-g-color-palette-pink-50: #e3066a;
  --sds-g-color-palette-pink-60: var(--slds-g-color-palette-pink-60);
  --slds-g-color-palette-pink-60: #ff538a;
  --sds-g-color-palette-pink-65: var(--slds-g-color-palette-pink-65);
  --slds-g-color-palette-pink-65: #fe7298;
  --sds-g-color-palette-pink-70: var(--slds-g-color-palette-pink-70);
  --slds-g-color-palette-pink-70: #fe8aa7;
  --sds-g-color-palette-pink-80: var(--slds-g-color-palette-pink-80);
  --slds-g-color-palette-pink-80: #fdb6c5;
  --sds-g-color-palette-pink-90: var(--slds-g-color-palette-pink-90);
  --slds-g-color-palette-pink-90: #fddde3;
  --sds-g-color-palette-pink-95: var(--slds-g-color-palette-pink-95);
  --slds-g-color-palette-pink-95: #fef0f3;
  --sds-g-color-palette-purple-10: var(--slds-g-color-palette-purple-10);
  --slds-g-color-palette-purple-10: #240643;
  --sds-g-color-palette-purple-15: var(--slds-g-color-palette-purple-15);
  --slds-g-color-palette-purple-15: #300b60;
  --sds-g-color-palette-purple-20: var(--slds-g-color-palette-purple-20);
  --slds-g-color-palette-purple-20: #401075;
  --sds-g-color-palette-purple-30: var(--slds-g-color-palette-purple-30);
  --slds-g-color-palette-purple-30: #5a1ba9;
  --sds-g-color-palette-purple-40: var(--slds-g-color-palette-purple-40);
  --slds-g-color-palette-purple-40: #7526e3;
  --sds-g-color-palette-purple-50: var(--slds-g-color-palette-purple-50);
  --slds-g-color-palette-purple-50: #9050e9;
  --sds-g-color-palette-purple-60: var(--slds-g-color-palette-purple-60);
  --slds-g-color-palette-purple-60: #ad7bee;
  --sds-g-color-palette-purple-65: var(--slds-g-color-palette-purple-65);
  --slds-g-color-palette-purple-65: #b78def;
  --sds-g-color-palette-purple-70: var(--slds-g-color-palette-purple-70);
  --slds-g-color-palette-purple-70: #c29ef1;
  --sds-g-color-palette-purple-80: var(--slds-g-color-palette-purple-80);
  --slds-g-color-palette-purple-80: #d7bff2;
  --sds-g-color-palette-purple-90: var(--slds-g-color-palette-purple-90);
  --slds-g-color-palette-purple-90: #ece1f9;
  --sds-g-color-palette-purple-95: var(--slds-g-color-palette-purple-95);
  --slds-g-color-palette-purple-95: #f6f2fb;
  --sds-g-color-palette-red-10: var(--slds-g-color-palette-red-10);
  --slds-g-color-palette-red-10: #300c01;
  --sds-g-color-palette-red-15: var(--slds-g-color-palette-red-15);
  --slds-g-color-palette-red-15: #4a0c04;
  --sds-g-color-palette-red-20: var(--slds-g-color-palette-red-20);
  --slds-g-color-palette-red-20: #640103;
  --sds-g-color-palette-red-30: var(--slds-g-color-palette-red-30);
  --slds-g-color-palette-red-30: #8e030f;
  --sds-g-color-palette-red-40: var(--slds-g-color-palette-red-40);
  --slds-g-color-palette-red-40: #ba0517;
  --sds-g-color-palette-red-50: var(--slds-g-color-palette-red-50);
  --slds-g-color-palette-red-50: #ea001e;
  --sds-g-color-palette-red-60: var(--slds-g-color-palette-red-60);
  --slds-g-color-palette-red-60: #fe5c4c;
  --sds-g-color-palette-red-65: var(--slds-g-color-palette-red-65);
  --slds-g-color-palette-red-65: #fe7765;
  --sds-g-color-palette-red-70: var(--slds-g-color-palette-red-70);
  --slds-g-color-palette-red-70: #fe8f7d;
  --sds-g-color-palette-red-80: var(--slds-g-color-palette-red-80);
  --slds-g-color-palette-red-80: #feb8ab;
  --sds-g-color-palette-red-90: var(--slds-g-color-palette-red-90);
  --slds-g-color-palette-red-90: #feded8;
  --sds-g-color-palette-red-95: var(--slds-g-color-palette-red-95);
  --slds-g-color-palette-red-95: #fef1ee;
  --sds-g-color-palette-teal-10: var(--slds-g-color-palette-teal-10);
  --slds-g-color-palette-teal-10: #071b12;
  --sds-g-color-palette-teal-15: var(--slds-g-color-palette-teal-15);
  --slds-g-color-palette-teal-15: #072825;
  --sds-g-color-palette-teal-20: var(--slds-g-color-palette-teal-20);
  --slds-g-color-palette-teal-20: #023434;
  --sds-g-color-palette-teal-30: var(--slds-g-color-palette-teal-30);
  --slds-g-color-palette-teal-30: #024d4c;
  --sds-g-color-palette-teal-40: var(--slds-g-color-palette-teal-40);
  --slds-g-color-palette-teal-40: #056764;
  --sds-g-color-palette-teal-50: var(--slds-g-color-palette-teal-50);
  --slds-g-color-palette-teal-50: #0b827c;
  --sds-g-color-palette-teal-60: var(--slds-g-color-palette-teal-60);
  --slds-g-color-palette-teal-60: #06a59a;
  --sds-g-color-palette-teal-65: var(--slds-g-color-palette-teal-65);
  --slds-g-color-palette-teal-65: #03b4a7;
  --sds-g-color-palette-teal-70: var(--slds-g-color-palette-teal-70);
  --slds-g-color-palette-teal-70: #01c3b3;
  --sds-g-color-palette-teal-80: var(--slds-g-color-palette-teal-80);
  --slds-g-color-palette-teal-80: #04e1cb;
  --sds-g-color-palette-teal-90: var(--slds-g-color-palette-teal-90);
  --slds-g-color-palette-teal-90: #acf3e4;
  --sds-g-color-palette-teal-95: var(--slds-g-color-palette-teal-95);
  --slds-g-color-palette-teal-95: #def9f3;
  --sds-g-color-palette-violet-10: var(--slds-g-color-palette-violet-10);
  --slds-g-color-palette-violet-10: #2e0039;
  --sds-g-color-palette-violet-15: var(--slds-g-color-palette-violet-15);
  --slds-g-color-palette-violet-15: #3d0157;
  --sds-g-color-palette-violet-20: var(--slds-g-color-palette-violet-20);
  --slds-g-color-palette-violet-20: #481a54;
  --sds-g-color-palette-violet-30: var(--slds-g-color-palette-violet-30);
  --slds-g-color-palette-violet-30: #730394;
  --sds-g-color-palette-violet-40: var(--slds-g-color-palette-violet-40);
  --slds-g-color-palette-violet-40: #9602c7;
  --sds-g-color-palette-violet-50: var(--slds-g-color-palette-violet-50);
  --slds-g-color-palette-violet-50: #ba01ff;
  --sds-g-color-palette-violet-60: var(--slds-g-color-palette-violet-60);
  --slds-g-color-palette-violet-60: #cb65ff;
  --sds-g-color-palette-violet-65: var(--slds-g-color-palette-violet-65);
  --slds-g-color-palette-violet-65: #d17dfe;
  --sds-g-color-palette-violet-70: var(--slds-g-color-palette-violet-70);
  --slds-g-color-palette-violet-70: #d892fe;
  --sds-g-color-palette-violet-80: var(--slds-g-color-palette-violet-80);
  --slds-g-color-palette-violet-80: #e5b9fe;
  --sds-g-color-palette-violet-90: var(--slds-g-color-palette-violet-90);
  --slds-g-color-palette-violet-90: #f2defe;
  --sds-g-color-palette-violet-95: var(--slds-g-color-palette-violet-95);
  --slds-g-color-palette-violet-95: #f9f0ff;
  --sds-g-color-palette-yellow-10: var(--slds-g-color-palette-yellow-10);
  --slds-g-color-palette-yellow-10: #281202;
  --sds-g-color-palette-yellow-15: var(--slds-g-color-palette-yellow-15);
  --slds-g-color-palette-yellow-15: #2e2204;
  --sds-g-color-palette-yellow-20: var(--slds-g-color-palette-yellow-20);
  --slds-g-color-palette-yellow-20: #4f2100;
  --sds-g-color-palette-yellow-30: var(--slds-g-color-palette-yellow-30);
  --slds-g-color-palette-yellow-30: #6f3400;
  --sds-g-color-palette-yellow-40: var(--slds-g-color-palette-yellow-40);
  --slds-g-color-palette-yellow-40: #8c4b02;
  --sds-g-color-palette-yellow-50: var(--slds-g-color-palette-yellow-50);
  --slds-g-color-palette-yellow-50: #a86403;
  --sds-g-color-palette-yellow-60: var(--slds-g-color-palette-yellow-60);
  --slds-g-color-palette-yellow-60: #ca8501;
  --sds-g-color-palette-yellow-65: var(--slds-g-color-palette-yellow-65);
  --slds-g-color-palette-yellow-65: #d79304;
  --sds-g-color-palette-yellow-70: var(--slds-g-color-palette-yellow-70);
  --slds-g-color-palette-yellow-70: #e4a201;
  --sds-g-color-palette-yellow-80: var(--slds-g-color-palette-yellow-80);
  --slds-g-color-palette-yellow-80: #fcc003;
  --sds-g-color-palette-yellow-90: var(--slds-g-color-palette-yellow-90);
  --slds-g-color-palette-yellow-90: #f9e3b6;
  --sds-g-color-palette-yellow-95: var(--slds-g-color-palette-yellow-95);
  --slds-g-color-palette-yellow-95: #fbf3e0;
  --sds-g-color-palette-neutral-10: var(--slds-g-color-palette-neutral-10);
  --slds-g-color-palette-neutral-10: #181818;
  --sds-g-color-palette-neutral-15: var(--slds-g-color-palette-neutral-15);
  --slds-g-color-palette-neutral-15: #242424;
  --sds-g-color-palette-neutral-20: var(--slds-g-color-palette-neutral-20);
  --slds-g-color-palette-neutral-20: #2e2e2e;
  --sds-g-color-palette-neutral-30: var(--slds-g-color-palette-neutral-30);
  --slds-g-color-palette-neutral-30: #444;
  --sds-g-color-palette-neutral-40: var(--slds-g-color-palette-neutral-40);
  --slds-g-color-palette-neutral-40: #5c5c5c;
  --sds-g-color-palette-neutral-50: var(--slds-g-color-palette-neutral-50);
  --slds-g-color-palette-neutral-50: #747474;
  --sds-g-color-palette-neutral-60: var(--slds-g-color-palette-neutral-60);
  --slds-g-color-palette-neutral-60: #939393;
  --sds-g-color-palette-neutral-65: var(--slds-g-color-palette-neutral-65);
  --slds-g-color-palette-neutral-65: #a0a0a0;
  --sds-g-color-palette-neutral-70: var(--slds-g-color-palette-neutral-70);
  --slds-g-color-palette-neutral-70: #aeaeae;
  --sds-g-color-palette-neutral-80: var(--slds-g-color-palette-neutral-80);
  --slds-g-color-palette-neutral-80: #c9c9c9;
  --sds-g-color-palette-neutral-90: var(--slds-g-color-palette-neutral-90);
  --slds-g-color-palette-neutral-90: #e5e5e5;
  --sds-g-color-palette-neutral-95: var(--slds-g-color-palette-neutral-95);
  --slds-g-color-palette-neutral-95: #f3f3f3;
  --sds-g-color-palette-neutral-100: var(--slds-g-color-palette-neutral-100);
  --slds-g-color-palette-neutral-100: #fff;
  --sds-g-font-family: var(--slds-g-font-family);
  --slds-g-font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --sds-g-font-family-monospace: var(--slds-g-font-family-monospace);
  --slds-g-font-family-monospace: Consolas,Menlo,Monaco,Courier,monospace;
  --sds-g-font-weight-bold: var(--slds-g-font-weight-bold);
  --slds-g-font-weight-bold: bold;
  --sds-g-font-weight-1: var(--slds-g-font-weight-1);
  --slds-g-font-weight-1: 100;
  --sds-g-font-weight-2: var(--slds-g-font-weight-2);
  --slds-g-font-weight-2: 200;
  --sds-g-font-weight-3: var(--slds-g-font-weight-3);
  --slds-g-font-weight-3: 300;
  --sds-g-font-weight-4: var(--slds-g-font-weight-4);
  --slds-g-font-weight-4: 400;
  --sds-g-font-weight-5: var(--slds-g-font-weight-5);
  --slds-g-font-weight-5: 500;
  --sds-g-font-weight-6: var(--slds-g-font-weight-6);
  --slds-g-font-weight-6: 600;
  --sds-g-font-weight-7: var(--slds-g-font-weight-7);
  --slds-g-font-weight-7: 700;
  --sds-g-font-lineheight-base: var(--slds-g-font-lineheight-base);
  --slds-g-font-lineheight-base: 1.5;
  --sds-g-font-lineheight-1: var(--slds-g-font-lineheight-1);
  --slds-g-font-lineheight-1: 1;
  --sds-g-font-lineheight-2: var(--slds-g-font-lineheight-2);
  --slds-g-font-lineheight-2: 1.25;
  --sds-g-font-lineheight-3: var(--slds-g-font-lineheight-3);
  --slds-g-font-lineheight-3: 1.375;
  --sds-g-font-lineheight-4: var(--slds-g-font-lineheight-4);
  --slds-g-font-lineheight-4: 1.5;
  --sds-g-font-lineheight-5: var(--slds-g-font-lineheight-5);
  --slds-g-font-lineheight-5: 1.75;
  --sds-g-font-lineheight-6: var(--slds-g-font-lineheight-6);
  --slds-g-font-lineheight-6: 2;
  --sds-g-font-scale-ratio: var(--slds-g-font-scale-ratio);
  --slds-g-font-scale-ratio: 1.15;
  --sds-g-font-size-base: var(--slds-g-font-size-base);
  --slds-g-font-size-base: 0.8125rem;
  --sds-g-font-scale-neg-4: var(--slds-g-font-scale-neg-4);
  --slds-g-font-scale-neg-4: var(--slds-g-font-scale-neg-3);
  --sds-g-font-scale-neg-3: var(--slds-g-font-scale-neg-3);
  --slds-g-font-scale-neg-3: var(--slds-g-font-scale-neg-2);
  --sds-g-font-scale-neg-2: var(--slds-g-font-scale-neg-2);
  --slds-g-font-scale-neg-2: 0.625rem;
  --sds-g-font-scale-neg-1: var(--slds-g-font-scale-neg-1);
  --slds-g-font-scale-neg-1: 0.75rem;
  --sds-g-font-scale-1: var(--slds-g-font-scale-1);
  --slds-g-font-scale-1: 0.875rem;
  --sds-g-font-scale-2: var(--slds-g-font-scale-2);
  --slds-g-font-scale-2: 1rem;
  --sds-g-font-scale-3: var(--slds-g-font-scale-3);
  --slds-g-font-scale-3: 1.125rem;
  --sds-g-font-scale-4: var(--slds-g-font-scale-4);
  --slds-g-font-scale-4: 1.25rem;
  --sds-g-font-scale-5: var(--slds-g-font-scale-5);
  --slds-g-font-scale-5: 1.5rem;
  --sds-g-font-scale-6: var(--slds-g-font-scale-6);
  --slds-g-font-scale-6: 1.75rem;
  --sds-g-font-scale-7: var(--slds-g-font-scale-7);
  --slds-g-font-scale-7: 2rem;
  --sds-g-font-scale-8: var(--slds-g-font-scale-8);
  --slds-g-font-scale-8: 2.625rem;
  --sds-g-font-scale-9: var(--slds-g-font-scale-9);
  --slds-g-font-scale-9: var(--slds-g-font-scale-8);
  --sds-g-font-scale-10: var(--slds-g-font-scale-10);
  --slds-g-font-scale-10: var(--slds-g-font-scale-8);
  --sds-g-color-neutral-base-100: var(--slds-g-color-neutral-base-100);
  --slds-g-color-neutral-base-100: #fff;
  --sds-g-color-neutral-base-95: var(--slds-g-color-neutral-base-95);
  --slds-g-color-neutral-base-95: #f3f3f3;
  --sds-g-color-neutral-base-90: var(--slds-g-color-neutral-base-90);
  --slds-g-color-neutral-base-90: #e5e5e5;
  --sds-g-color-neutral-base-80: var(--slds-g-color-neutral-base-80);
  --slds-g-color-neutral-base-80: #c9c9c9;
  --sds-g-color-neutral-base-70: var(--slds-g-color-neutral-base-70);
  --slds-g-color-neutral-base-70: #aeaeae;
  --sds-g-color-neutral-base-65: var(--slds-g-color-neutral-base-65);
  --slds-g-color-neutral-base-65: #a0a0a0;
  --sds-g-color-neutral-base-60: var(--slds-g-color-neutral-base-60);
  --slds-g-color-neutral-base-60: #939393;
  --sds-g-color-neutral-base-50: var(--slds-g-color-neutral-base-50);
  --slds-g-color-neutral-base-50: #747474;
  --sds-g-color-neutral-base-40: var(--slds-g-color-neutral-base-40);
  --slds-g-color-neutral-base-40: #5c5c5c;
  --sds-g-color-neutral-base-30: var(--slds-g-color-neutral-base-30);
  --slds-g-color-neutral-base-30: #444;
  --sds-g-color-neutral-base-20: var(--slds-g-color-neutral-base-20);
  --slds-g-color-neutral-base-20: #2e2e2e;
  --sds-g-color-neutral-base-15: var(--slds-g-color-neutral-base-15);
  --slds-g-color-neutral-base-15: #242424;
  --sds-g-color-neutral-base-10: var(--slds-g-color-neutral-base-10);
  --slds-g-color-neutral-base-10: #181818;
  --sds-g-color-brand-base-100: var(--slds-g-color-brand-base-100);
  --slds-g-color-brand-base-100: #fff;
  --sds-g-color-brand-base-95: var(--slds-g-color-brand-base-95);
  --slds-g-color-brand-base-95: #eef4ff;
  --sds-g-color-brand-base-90: var(--slds-g-color-brand-base-90);
  --slds-g-color-brand-base-90: #d8e6fe;
  --sds-g-color-brand-base-80: var(--slds-g-color-brand-base-80);
  --slds-g-color-brand-base-80: #aacbff;
  --sds-g-color-brand-base-70: var(--slds-g-color-brand-base-70);
  --slds-g-color-brand-base-70: #78b0fd;
  --sds-g-color-brand-base-65: var(--slds-g-color-brand-base-65);
  --slds-g-color-brand-base-65: #57a3fd;
  --sds-g-color-brand-base-60: var(--slds-g-color-brand-base-60);
  --slds-g-color-brand-base-60: #1b96ff;
  --sds-g-color-brand-base-50: var(--slds-g-color-brand-base-50);
  --slds-g-color-brand-base-50: #0176d3;
  --sds-g-color-brand-base-40: var(--slds-g-color-brand-base-40);
  --slds-g-color-brand-base-40: #0b5cab;
  --sds-g-color-brand-base-30: var(--slds-g-color-brand-base-30);
  --slds-g-color-brand-base-30: #014486;
  --sds-g-color-brand-base-20: var(--slds-g-color-brand-base-20);
  --slds-g-color-brand-base-20: #032d60;
  --sds-g-color-brand-base-15: var(--slds-g-color-brand-base-15);
  --slds-g-color-brand-base-15: #03234d;
  --sds-g-color-brand-base-10: var(--slds-g-color-brand-base-10);
  --slds-g-color-brand-base-10: #001639;
  --sds-g-color-error-base-100: var(--slds-g-color-error-base-100);
  --slds-g-color-error-base-100: #fff;
  --sds-g-color-error-base-90: var(--slds-g-color-error-base-90);
  --slds-g-color-error-base-90: #feded8;
  --sds-g-color-error-base-80: var(--slds-g-color-error-base-80);
  --slds-g-color-error-base-80: #feb8ab;
  --sds-g-color-error-base-70: var(--slds-g-color-error-base-70);
  --slds-g-color-error-base-70: #fe8f7d;
  --sds-g-color-error-base-60: var(--slds-g-color-error-base-60);
  --slds-g-color-error-base-60: #fe5c4c;
  --sds-g-color-error-base-50: var(--slds-g-color-error-base-50);
  --slds-g-color-error-base-50: #ea001e;
  --sds-g-color-error-base-40: var(--slds-g-color-error-base-40);
  --slds-g-color-error-base-40: #ba0517;
  --sds-g-color-error-base-30: var(--slds-g-color-error-base-30);
  --slds-g-color-error-base-30: #8e030f;
  --sds-g-color-error-base-20: var(--slds-g-color-error-base-20);
  --slds-g-color-error-base-20: #640103;
  --sds-g-color-error-base-10: var(--slds-g-color-error-base-10);
  --slds-g-color-error-base-10: #300c01;
  --sds-g-color-warning-base-100: var(--slds-g-color-warning-base-100);
  --slds-g-color-warning-base-100: #fff;
  --sds-g-color-warning-base-90: var(--slds-g-color-warning-base-90);
  --slds-g-color-warning-base-90: #fedfd0;
  --sds-g-color-warning-base-80: var(--slds-g-color-warning-base-80);
  --slds-g-color-warning-base-80: #ffba90;
  --sds-g-color-warning-base-70: var(--slds-g-color-warning-base-70);
  --slds-g-color-warning-base-70: #fe9339;
  --sds-g-color-warning-base-60: var(--slds-g-color-warning-base-60);
  --slds-g-color-warning-base-60: #dd7a01;
  --sds-g-color-warning-base-50: var(--slds-g-color-warning-base-50);
  --slds-g-color-warning-base-50: #a96404;
  --sds-g-color-warning-base-40: var(--slds-g-color-warning-base-40);
  --slds-g-color-warning-base-40: #825101;
  --sds-g-color-warning-base-30: var(--slds-g-color-warning-base-30);
  --slds-g-color-warning-base-30: #5f3e02;
  --sds-g-color-warning-base-20: var(--slds-g-color-warning-base-20);
  --slds-g-color-warning-base-20: #3e2b02;
  --sds-g-color-warning-base-10: var(--slds-g-color-warning-base-10);
  --slds-g-color-warning-base-10: #201600;
  --sds-g-color-success-base-100: var(--slds-g-color-success-base-100);
  --slds-g-color-success-base-100: #fff;
  --sds-g-color-success-base-90: var(--slds-g-color-success-base-90);
  --slds-g-color-success-base-90: #cdefc4;
  --sds-g-color-success-base-80: var(--slds-g-color-success-base-80);
  --slds-g-color-success-base-80: #91db8b;
  --sds-g-color-success-base-70: var(--slds-g-color-success-base-70);
  --slds-g-color-success-base-70: #45c65a;
  --sds-g-color-success-base-60: var(--slds-g-color-success-base-60);
  --slds-g-color-success-base-60: #3ba755;
  --sds-g-color-success-base-50: var(--slds-g-color-success-base-50);
  --slds-g-color-success-base-50: #2e844a;
  --sds-g-color-success-base-40: var(--slds-g-color-success-base-40);
  --slds-g-color-success-base-40: #396547;
  --sds-g-color-success-base-30: var(--slds-g-color-success-base-30);
  --slds-g-color-success-base-30: #194e31;
  --sds-g-color-success-base-20: var(--slds-g-color-success-base-20);
  --slds-g-color-success-base-20: #1c3326;
  --sds-g-color-success-base-10: var(--slds-g-color-success-base-10);
  --slds-g-color-success-base-10: #071b12;
  --sds-g-color-border-1: var(--slds-g-color-border-1);
  --slds-g-color-border-1: var(--slds-g-color-neutral-base-80);
  --sds-g-color-border-2: var(--slds-g-color-border-2);
  --slds-g-color-border-2: var(--slds-g-color-neutral-base-50);
  --sds-g-color-border-accent-1: var(--slds-g-color-border-accent-1);
  --slds-g-color-border-accent-1: #0176d3;
  --sds-g-color-border-accent-2: var(--slds-g-color-border-accent-2);
  --slds-g-color-border-accent-2: #0b5cab;
  --sds-g-color-border-accent-3: var(--slds-g-color-border-accent-3);
  --slds-g-color-border-accent-3: #014486;
  --sds-g-color-surface-1: var(--slds-g-color-surface-1);
  --slds-g-color-surface-1: #fff;
  --sds-g-color-surface-2: var(--slds-g-color-surface-2);
  --slds-g-color-surface-2: #f3f3f3;
  --sds-g-color-surface-3: var(--slds-g-color-surface-3);
  --slds-g-color-surface-3: #e5e5e5;
  --sds-g-color-surface-container-1: var(--slds-g-color-surface-container-1);
  --slds-g-color-surface-container-1: #fff;
  --sds-g-color-surface-container-2: var(--slds-g-color-surface-container-2);
  --slds-g-color-surface-container-2: #f3f3f3;
  --sds-g-color-surface-container-3: var(--slds-g-color-surface-container-3);
  --slds-g-color-surface-container-3: #e5e5e5;
  --sds-g-color-on-surface-1: var(--slds-g-color-on-surface-1);
  --slds-g-color-on-surface-1: #747474;
  --sds-g-color-on-surface-2: var(--slds-g-color-on-surface-2);
  --slds-g-color-on-surface-2: #2e2e2e;
  --sds-g-color-on-surface-3: var(--slds-g-color-on-surface-3);
  --slds-g-color-on-surface-3: #181818;
  --sds-g-color-accent-1: var(--slds-g-color-accent-1);
  --slds-g-color-accent-1: var(--lwc-brandPrimary,var(--slds-g-color-brand-base-60));
  --sds-g-color-accent-2: var(--slds-g-color-accent-2);
  --slds-g-color-accent-2: var(--lwc-brandPrimaryActive,var(--slds-g-color-brand-base-50));
  --sds-g-color-accent-3: var(--slds-g-color-accent-3);
  --slds-g-color-accent-3: #0b5cab;
  --sds-g-color-accent-container-1: var(--slds-g-color-accent-container-1);
  --slds-g-color-accent-container-1: var(--lwc-brandAccessible,var(--slds-g-color-brand-base-50));
  --sds-g-color-accent-container-2: var(--slds-g-color-accent-container-2);
  --slds-g-color-accent-container-2: var(--lwc-brandAccessibleActive,var(--slds-g-color-brand-base-40));
  --sds-g-color-accent-container-3: var(--slds-g-color-accent-container-3);
  --slds-g-color-accent-container-3: #014486;
  --sds-g-color-on-accent-1: var(--slds-g-color-on-accent-1);
  --slds-g-color-on-accent-1: var(--slds-g-color-brand-base-100);
  --sds-g-color-error-1: var(--slds-g-color-error-1);
  --slds-g-color-error-1: #ba0517;
  --sds-g-color-error-container-1: var(--slds-g-color-error-container-1);
  --slds-g-color-error-container-1: #ba0517;
  --sds-g-color-on-error-1: var(--slds-g-color-on-error-1);
  --slds-g-color-on-error-1: #fff;
  --sds-g-color-border-error-1: var(--slds-g-color-border-error-1);
  --slds-g-color-border-error-1: #ba0517;
  --sds-g-color-warning-1: var(--slds-g-color-warning-1);
  --slds-g-color-warning-1: #fe9339;
  --sds-g-color-warning-container-1: var(--slds-g-color-warning-container-1);
  --slds-g-color-warning-container-1: #dd7a01;
  --sds-g-color-on-warning-1: var(--slds-g-color-on-warning-1);
  --slds-g-color-on-warning-1: #181818;
  --sds-g-color-border-warning-1: var(--slds-g-color-border-warning-1);
  --slds-g-color-border-warning-1: #dd7a01;
  --sds-g-color-success-1: var(--slds-g-color-success-1);
  --slds-g-color-success-1: #2e844a;
  --sds-g-color-success-container-1: var(--slds-g-color-success-container-1);
  --slds-g-color-success-container-1: #2e844a;
  --sds-g-color-on-success-1: var(--slds-g-color-on-success-1);
  --slds-g-color-on-success-1: #fff;
  --sds-g-color-border-success-1: var(--slds-g-color-border-success-1);
  --slds-g-color-border-success-1: #2e844a;
  --sds-g-color-info-1: var(--slds-g-color-info-1);
  --slds-g-color-info-1: #444;
  --sds-g-color-info-container-1: var(--slds-g-color-info-container-1);
  --slds-g-color-info-container-1: #5c5c5c;
  --sds-g-color-on-info-1: var(--slds-g-color-on-info-1);
  --slds-g-color-on-info-1: #fff;
  --sds-g-color-disabled-1: var(--slds-g-color-disabled-1);
  --slds-g-color-disabled-1: #c9c9c9;
  --sds-g-color-disabled-container-1: var(--slds-g-color-disabled-container-1);
  --slds-g-color-disabled-container-1: #fff;
  --sds-g-color-on-disabled-1: var(--slds-g-color-on-disabled-1);
  --slds-g-color-on-disabled-1: #c9c9c9;
  --sds-g-color-border-disabled-1: var(--slds-g-color-border-disabled-1);
  --slds-g-color-border-disabled-1: #c9c9c9;
  --sds-g-color-error-container-2: var(--slds-g-color-error-container-2);
  --slds-g-color-error-container-2: #8e030f;
  --sds-g-color-border-error-2: var(--slds-g-color-border-error-2);
  --slds-g-color-border-error-2: #8e030f;
  --sds-g-color-success-container-2: var(--slds-g-color-success-container-2);
  --slds-g-color-success-container-2: #194e31;
  --sds-g-color-on-success-2: var(--slds-g-color-on-success-2);
  --slds-g-color-on-success-2: #181818;
  --sds-g-color-disabled-2: var(--slds-g-color-disabled-2);
  --slds-g-color-disabled-2: #aeaeae;
  --sds-g-color-disabled-container-2: var(--slds-g-color-disabled-container-2);
  --slds-g-color-disabled-container-2: #c9c9c9;
  --sds-g-color-on-disabled-2: var(--slds-g-color-on-disabled-2);
  --slds-g-color-on-disabled-2: #939393;
  --sds-g-color-border-disabled-2: var(--slds-g-color-border-disabled-2);
  --slds-g-color-border-disabled-2: #aeaeae;
  --sds-g-color-surface-inverse-1: var(--slds-g-color-surface-inverse-1);
  --slds-g-color-surface-inverse-1: #032d60;
  --sds-g-color-surface-inverse-2: var(--slds-g-color-surface-inverse-2);
  --slds-g-color-surface-inverse-2: #001639;
  --sds-g-color-surface-container-inverse-1: var(--slds-g-color-surface-container-inverse-1);
  --slds-g-color-surface-container-inverse-1: #032d60;
  --sds-g-color-surface-container-inverse-2: var(--slds-g-color-surface-container-inverse-2);
  --slds-g-color-surface-container-inverse-2: #001639;
  --sds-g-color-on-surface-inverse-1: var(--slds-g-color-on-surface-inverse-1);
  --slds-g-color-on-surface-inverse-1: #fff;
  --sds-g-color-on-surface-inverse-2: var(--slds-g-color-on-surface-inverse-2);
  --slds-g-color-on-surface-inverse-2: #aeaeae;
  --sds-g-color-border-inverse-1: var(--slds-g-color-border-inverse-1);
  --slds-g-color-border-inverse-1: #f3f3f3;
  --sds-g-color-border-inverse-2: var(--slds-g-color-border-inverse-2);
  --slds-g-color-border-inverse-2: #032d60;
  --sds-g-color-accent-light-1: var(--slds-g-color-accent-light-1);
  --slds-g-color-accent-light-1: var(--lwc-brandLight,var(--slds-g-color-brand-base-95));
  --sds-g-color-accent-light-2: var(--slds-g-color-accent-light-2);
  --slds-g-color-accent-light-2: var(--lwc-brandLightActive,var(--slds-g-color-brand-base-90));
  --sds-g-color-accent-dark-1: var(--slds-g-color-accent-dark-1);
  --slds-g-color-accent-dark-1: var(--lwc-brandDark,var(--slds-g-color-brand-base-20));
  --sds-g-color-accent-dark-2: var(--slds-g-color-accent-dark-2);
  --slds-g-color-accent-dark-2: var(--lwc-brandDarkActive,var(--slds-g-color-brand-base-10))
}